extends layout

block content
  h1 Contact Details
  if contact
    div
      label(for='firstName') First Name:
      span= contact.firstName
    div
      label(for='lastName') Last Name:
      span= contact.lastName
    div
      label(for='emailAddress') Email Address:
      span= contact.emailAddress ? contact.emailAddress : 'N/A'
    div
      label(for='notes') Notes:
      span= contact.notes ? contact.notes : 'N/A'
    div
      label(for='createdDateTime') Created Date/Time:
      span= contact.createdDateTime
    div
      label(for='lastEditedDateTime') Last Edited Date/Time:
      span= contact.lastEditedDateTime
    div
      a(href=`/contacts/${contact.id}/edit`) Edit
      | 
      form(method='POST' action=`/contacts/${contact.id}/delete`)
        button(type='submit') Delete
  else
    p Contact not found.
